[2016-02-13 15:10] ryan-sg opened #2 "is github synced with the latest hyper3dge 2.0.2 changes?"
Hi!  I don't know any other place I can ask this, trying to register on the forums doesn't seem to be working for me right now...known issue?

Just wanting to know if this github repo is the main source for hyper3dge or just a mirror that gets occasionally updated?

I have a copy of master checked out and managed to build it on OpenBSD with some changes, but noticed some issues in my build that ar

[2016-02-15 03:29] Brendoe1 commented on #2
Try checking out the bump_mapping branch. It seems to have fixes in it that should have been made in the main branch instead, and is generally more up-to-date.

[2016-02-15 03:42] TDGMods commented on #2
Ah yes, it was an oversight while I was adjusting to using Git. I'll track
the changes down and commit. The actual console version is something I
forget to update sometimes.

The current experimental branch (but a bit broken) is the bump-mapping
version. I would not recommend using the bump-mapping branch for any
serious gameplay because it's pretty broken.

I will have to re-push the changes I ma

[2016-04-03 02:54] ryan-sg commented on #2
hey hey, how about a sync with the 2.0.3 release of hyper3dge? :)

[2016-04-03 03:15] TDGMods commented on #2
Done =)

On Sat, Apr 2, 2016 at 7:54 PM, ryan-sg <notifications@github.com> wrote:

[2016-04-04 02:47] #2 closed

[2016-04-20 08:12] usernameak opened #4 "Infringing content"
_Please_ **_remove permanently_** that any way because github admins can ban your repo (Doom2.wad in public github repository? Hmm...): https://github.com/3dfxdev/hyper3DGE/blob/master/Hyper3dge.app/contents/Resources/Doom2.wad

[2016-04-21 01:51] Corbachu commented on #4
I have been trying to remove it since it was accidentally uploaded, but I was not the one who committed/upped it, otherwise it would have been removed the second he uploaded it. Is there an easy way to do this?

[2016-04-21 01:56] Corbachu commented on #4
Removed via the Github browser page.

[2016-04-21 01:56] #4 closed

[2016-04-21 08:12] usernameak commented on #4
also you could use `git rm` instead of `rm` :laughing:

[2016-04-21 08:17] usernameak opened #5 "Can you compile the latest master commit?"
Or give me libvorbis.a, libvorbisfile.a and libogg.a for Windows because i cannot compile them with MinGW.

[2016-04-21 20:26] Corbachu commented on #5
Sure thing! If you go to the sourceforge page, the very early source zips have precompiled libraries, maybe it is 1.36A or 1.36B, which was before we moved to Github (look in the lib_win32 folder, all libs are precompiled), though I do not remember if I have since updated the dependency versions. I also use MinGW, so I can verify that they will indeed work. :)

[2016-04-21 20:33] Corbachu commented on #5
Also, it might be a good idea to reclone the repo fresh. Chris (ctd1500) rewrote history and removed the IWAD so just to be sure, do a fresh checkout.

[2016-04-21 20:35] Corbachu commented on #5
https://sourceforge.net/projects/edge2/files/3DGE%20SOURCE/3DGE-1.36.3a-Source.7z/download

That is the source package with precompiled libs :)

[2016-04-22 08:31] usernameak commented on #5
undefined reference to `bump_map_shader::lightParamAmbient`
and similar errors

[2016-04-22 09:07] Corbachu commented on #5
Something might have broken when we removed that IWAD. When my PC gets up and running, I will take a look at it asap.

[2016-04-22 20:30] Corbachu commented on #5
I need to merge some stuff from bump_mapping - my main PC completely died, so I will reorganize the main branch tomorrow once I grab a clean copy. I will test an verify before sending to master.

[2016-04-22 23:25] Corbachu commented on #5
Wait -- did you do a clean re-clone AK? Also, build with Makefile.xming.

[2016-04-23 08:06] usernameak commented on #5
Just recloned. And what difference is between Makefile.xming and Makehard.xming?

[2016-04-23 23:48] Corbachu commented on #5
No problem! I can understand you just fine =)

Makehard.xming is for Win32 hard links (absolute paths), while Makefile.xming is relaxed and assumes your paths in MinGW/libs/et all are set up correctly.

Also, I just realized - you will **need to pull the md5_conv library from the bump_mapping branch** and paste it into your master clone. Seems when things had to be redone due to that IWAD some stu

[2016-04-24 00:39] Corbachu commented on #5
**I just pushed the corrected changes to /master. It should now compile correctly.**

[2016-04-24 10:56] usernameak commented on #5
`mkdir -p obj_win32/coal
mkdir -p obj_win32/ddf
mkdir -p obj_win32/deh_edge
mkdir -p obj_win32/edge
mkdir -p obj_win32/md5_conv
mkdir -p obj_win32/md5_conv/kmq2
mkdir -p obj_win32/epi
mkdir -p obj_win32/glbsp
mkdir -p obj_win32/timidity
g++ -O3 -ffast-math -msse2 -mfpmath=sse -fno-strict-aliasing -Wall -I -DWIN32 -Ilib_win32/SDL/include -Ilib_win32/glew-1.5.8/include/GL -Ihawknl/include -Ilib_win3

[2016-04-25 23:22] Corbachu commented on #5
You need to change the include paths to point to your headers and local directory. I could have sworn I changed this. But the recent IWAD fiasco must have reverted to the hard paths.

So, [yourpath]/glut.h, or if you installed it through MinGW, just <glut.h>

Wait until I commit 2.0.4 tonight. All of it has since been fixed and I recently updated a lot of the GL headers (and image libs/etc) to mor

[2016-04-25 23:24] Corbachu commented on #5
Also, going to redo a lot of the paths in /src, but that will be in a new branch.

[2016-04-26 01:40] Corbachu commented on #5
Would I would love to do is have optional Visual Studio support for Windows rather than having to use the Makefile, would also aid in debugging -- alas, I have no experience setting up an existing Make project with it. Maybe some day!

[2016-04-26 08:37] usernameak commented on #5
What is your timezone?

[2016-04-26 23:23] Corbachu commented on #5
I apologize (it is PST here in California), I have been feeling a bit under the weather the last few days. I am a bit better today, so if not tonight then tomorrow I will make the commits.

[2016-04-27 13:15] usernameak commented on #5
is there a possible way to set normal map to texture?

[2016-04-27 20:57] Corbachu commented on #5
For model textures, yes, but for all others it is being worked on. We have to revamp a lot of the rendering system to allow this, which is ongoing. :-)

[2016-04-27 20:57] #5 closed

[2016-05-05 09:37] usernameak opened #6 "Building on Android"
I think that it can be built on Android, but I need makefiles!

[2016-05-06 17:40] Corbachu commented on #6
This would be awesome! What kind of makefiles would be needed? I have all of the Droid SDK, but I have never built anything for the platform.

[2016-05-06 18:37] Brendoe1 commented on #6
I was looking into that too... there's an SDK for porting native c/c++ code
to android, but I have currently no clue in heck how it works and haven't
had time to look into it. I know how to build a makefile, but I'm not sure
what needs to be in it to build on that platform.

On Fri, May 6, 2016 at 10:40 AM, Coraline <notifications@github.com> wrote:

[2016-05-07 08:53] usernameak commented on #6
You need Android **N**DK to build native code

[2016-05-08 08:09] Corbachu commented on #6
GLEW is already going away with 2.1.0 (the SDL2 update). I will probably let someone else research Android, my time is so thinly spread I cannot afford to focus on anything BUT 3DGE proper. BUT, being an avid Android user myself, I am also intrigued =-P

[2016-05-11 09:36] usernameak commented on #6
There's a problem: Android uses OpenGL ES, somehow stripped-down version of OpenGL for small devices :laughing:

[2016-05-11 22:10] Brendoe1 commented on #6
That doesn't seem so difficult to get around, might affect bump mapping
though... I'll have to look into that.
On May 11, 2016 2:36 AM, "usernameak" <notifications@github.com> wrote:

There's a problem: Android uses OpenGL ES, somehow stripped-down version of
OpenGL for small devices [image: :laughing:]

—
You are receiving this because you commented.

Reply to this email directly or view it on Gi

[2016-05-12 01:46] Corbachu commented on #6
Yeah, I am sure the GLES library (whichever one) has calls that wrap around raw GL. I dont think this would be too hard, but I feel we should continue focusing on optimizing the engine first before we branch out into other platforms, especially since there is a known memory leak somewhere in the code.

[2016-05-12 13:00] usernameak commented on #6
Bump mapping? No problem. GLSL in GLES is the same as in raw GL.

[2016-05-12 13:03] usernameak commented on #6
Memory leak?.. When does it happen?

[2016-05-12 22:12] Corbachu commented on #6
We are not sure yet -- without a decent profiler it is hard to track down. It is most noticeable on lesser machines (namely, the Dreamcast). Since I do not use Linux, I cannot use the oft-mentioned Valgrind either :-(

AK, do you have any ideas on how we can embed a profiler? I think EPI used to have one, a long time ago..

[2016-05-13 12:08] usernameak commented on #6
I will install Linux on my PC in a few days, then i will try to profile 3DGE with Valgrind

[2016-05-13 16:15] Brendoe1 commented on #6
Lol so it turns out valgrind will also build on mac. We should both run it
in case it behaves differently on different platforms.
On May 13, 2016 5:08 AM, "usernameak" <notifications@github.com> wrote:

[2016-05-14 00:42] Corbachu commented on #6
Great idea guys! That'll help us all out, also, being able to profile the engine to find out where its weak spots are/eating memory/optimizations-to-be-made.

I will close this thread -- whoever gets Valgrind working and is able to produce meaningful output should create a new issue with the title: 'Valgrind Report' or something along those lines!

Great job you two btw! =)

[2016-05-14 00:42] #6 closed

[2016-05-14 09:46] usernameak opened #9 "Give me some precompiled libraries"
Give me some precompiled libraries for Windows, namely SDL, GLEW and libpng because I can't compile them to try some changes I have made

[2016-05-14 23:33] Corbachu commented on #9
No problem! When I get off work I will create a new repo folder named static_libs that will contain the .a libs I use.

[2016-05-15 02:10] Corbachu opened #10 "Replacing GLEW"
Okay, so as you guys might know, I want to strip 3DGE of all GLEW-related stuff in favor of a faster, smaller API to handle OpenGL. Glew is too large, and loads way too much information about GL when we only (for now) use a small set of GL extensions (in RGL_CheckExtensions) -- which we could probably rewrite as well. . .

I have committed a library containing a few headers into a folder inside /s

[2016-05-15 03:59] Corbachu commented on #9
For the time being, I have uploaded the libs in a 7Z file (named static_libs) to our server. Soon, I will put them on the "release" page:

http://tdgmods.net/static_libs.7z

[2016-05-15 09:49] usernameak commented on #9
Okay, but where is the SDL2?

[2016-05-15 10:00] usernameak commented on #10
I think that custom implementation is the best way :smiley:

[2016-05-15 10:06] usernameak commented on #9
Yeah! I've built it!

[2016-05-15 19:42] Corbachu commented on #10
I was thinking about that, too: any ideas where we could start with that? I have always used external loaders..

[2016-05-15 19:43] Corbachu commented on #9
Great :-)

[2016-05-15 19:43] #9 closed

[2016-05-16 08:31] usernameak commented on #10
What methods of GLEW are used?

[2016-05-16 08:43] usernameak opened #11 "Using CMake as Makefile generator"
Why not? Then we will can build project in VS, MinGW, or something other if you choose it on any platform

[2016-05-16 21:00] Corbachu commented on #11
I have never looked into CMake, guess I'll take a little bit of time and check it out ^_^ In the meantime if you happen to get a CMake generated, let us know ;)

[2016-05-16 21:02] Corbachu commented on #10
Look in r_main.cc:

RGL_CheckExtensions() is the function that finds and appends all functions (which, really, isn't a ton...)

[2016-05-17 09:10] usernameak opened #12 "Very critical bug"
I've built it. Launched. After loading it has closed and my screen became brighter! (brightness has fixed after reboot, but still not launching)

[2016-05-17 09:48] usernameak commented on #11
I did it! But it throws some errors:
[code]

[2016-05-17 19:27] Corbachu commented on #11
Does CMake use GCC to build? SDL linked properly and is everything being
built in the correct order?
On May 17, 2016 2:48 AM, "usernameak" <notifications@github.com> wrote:

[2016-05-17 21:19] Corbachu commented on #12
Strange! This is SDL2 right? I am working on Win32 and I dont notice that --- but it was reported earlier on SF if I remember right. Might be SDL2 not resetting the display. .

[2016-05-18 08:13] usernameak commented on #11
Yes, it does.

Please, wait. I'll check that.

[2016-05-18 09:18] usernameak commented on #11
`make VERBOSE=1` output:
[code]

[2016-05-18 11:15] usernameak commented on #11
You can see the new build files on my fork: @usernameak/hyper3DGE

[2016-05-18 21:22] Corbachu commented on #11
I will give it a shot tonigh. Did you make sure every directory is building files in the correct order? Also you need to statically link in the Win32 flags (-static).

[2016-05-19 07:48] usernameak commented on #11
Yes, but dirs order is random (files order isn't)
P.S. i am installing Linux today.

[2016-05-20 21:05] Corbachu commented on #11
Okay -- I installed CMake, how do I build the fork?

[2016-05-21 16:34] usernameak commented on #11
I will install Linux CMake build on my PC, then I'll show

[2016-05-23 09:02] usernameak commented on #11
Fill the `Where is the source code` and `Where to build the binaries` fields.
Press `Configure`. Select `MinGW Makefiles` from the dropdown list in the opened window. Wait until it will configure project.
Press `Generate`. Wait.
Makefiles will be in the directory selected in the `Where to build the binaries` field.

[2016-05-25 20:49] Corbachu commented on #11
ZombieKiller successfully added Cmake and VS support, verified buildable :-)

[2016-05-25 20:49] #11 closed

[2016-05-26 10:03] usernameak commented on #12
I will not try it on Linux today because my GPU drivers aren't working

[2016-05-26 21:17] Corbachu commented on #10
I am also looking into dGLMake from Doom64-EX, so hopefully I can get on that soon!

[2016-05-26 21:46] Corbachu commented on #12
:/

[2016-06-05 08:45] usernameak commented on #12
Now they're working and I can try to compile the 3DGE on Linux

[2016-06-06 04:29] Corbachu commented on #12
If you do compile [under Linux], take note - the Makefiles for MAKE are now in the directory /makefiles. Just drag and drop into the root directory and build like usual.

[2016-06-06 13:15] usernameak commented on #12
I will build it with CMake :sweat_smile:

[2016-06-06 20:23] Corbachu opened #15 "Screen Wiping Messed Up"
Compiling with Visual Studio messes up the RGL_Wipe code, specifically the Screen Melt effect (no other wipe transitions are affected). Under GCC, it works normally.

Something is wrong with that code - we need to address it ASAP.

[2016-06-07 21:21] Corbachu commented on #15
UsernameAK: do you get the melt bug when compiling with CMake?

[2016-06-08 20:50] Corbachu commented on #15
Figured out why the melt code fucks up: visual studio likes to compile with optimizations, so turning it off restores screen melt. I learned I could use a pragma to tell VS not to optimize just the screen melting and the rest of the program gets optimized no problem. So, I will write that pragma into the melt code so optimization won't hit the melt transition.

[2016-06-08 20:50] #15 closed

[2016-06-09 13:17] usernameak opened #16 "Building with CMake"
What must i fill in into the `zlib_DIR` entry?

[2016-06-19 14:08] #16 closed

[2016-06-23 03:22] ryan-sg opened #20 "compiler error seen on OpenBSD"
wow you are fast, had merged in the pull requests before i could finish writing the below comment on the pull request :-D  there was one patch i did not share:

mmkay, in ddf/main.c:
[code]

without this, all compilers I have fail.  any ideas?  I don't know what I'm doing here :-)  The closest clue i think i see is in the clang output, _N being defined by /usr/include/ctype.h on my system..

gcc 4

[2016-06-27 08:33] ryan-sg opened #21 "unable to run 'Duke it out in DOOM' mod with current master"
Can anyone else run the current version of Duke it out in DOOM with the current version of hyper3dge?   The current version of the mod is 1.8, fails as such:

edit: as an additional note, an older version of the mod that I still have, v1.5b, still seems to work okay.  seems strange that the mod's changelog lists.   I notice that their changelog notes for v1.6 say "Menus tweaked to support changes

[2016-06-28 00:17] Corbachu commented on #21
I see that it is failing in DDFSTYLE of the mod (open it up with SLADE to see). It seems I had removed the TITLE.COLOURMAP setting from styles.cc -- just comment out that line and it should work just fine. In the engine, ddf/styles.cc, we need a detection method to find and IGNORE that line.

It used to work just fine but, the Styles.ddf code was not very mature yet, and since I hadn't designed it

[2016-06-28 21:28] ryan-sg commented on #21
Thanks!  That seems to do the trick to get v1.8 of the mod working.  As for detection method, I guess it wouldnt' really matter much if the mod author releases an update, but I can see you might want to be careful about balancing backward compatibility vs. forcing mod authors to update.

As for a 'better effort much later on', I am not qualified to help ya there.  I have enough experience to look

[2016-06-30 04:15] Corbachu commented on #21
No worries! Even the extra pair of eyes goes a long way ;)

[2016-06-30 04:15] #21 closed

[2016-06-30 04:16] Corbachu commented on #20
Did you ever get this worked out? If so, do you have binaries we could upload via SourceForge for OpenBSD users?

[2016-07-02 05:30] ryan-sg commented on #20
I haven't figured out anything outside of the already-posted patch that I don't understand well enough to know if it is a valid fix or not...  Not much point in posting openbsd binaries to sourceforge, openbsd is niche enough that anyone that does use it would either be looking for a port in the openbsd ports system, or compiling from source themselves.   What might happen tho is I end up creating

[2016-07-03 16:16] usernameak commented on #20
This is on Linux (not BSD):

[code]

[2016-07-03 16:28] usernameak commented on #20
Fixed, but now:
[code]

[2016-07-04 02:04] ryan-sg commented on #20
hmm, kinda different issue than what I'm seeing... can you try this patch as a wild stab?
[code]

I just tried a build myself without GL/glew.h included and it still succeeded (tho succeeds without it commented for me as well)

@Corbachu has an open issue about replacing GLEW, so perhaps this is less needed since the SDL_opengl stuff is included..?

as for why it works for me without commenting ou

[2016-08-27 19:11] ryan-sg opened #22 "Makefile.bsd gone?"
What happened?  I saw the merge go in and it was there, but now its not there at all, did the pull request get ...pulled back out? ;)

[2016-08-27 19:22] ryan-sg commented on #22
seems to have been there for this commit 41b8558e8104dde72c5bcac4ffcbbbbc9f308d12  but gone by this commit bebd6766c358c157191fac4ee382cc86dc668c79  (browse files on both to see)

[2016-08-27 19:34] Corbachu commented on #22
Crap! That must have been an accident!! Can we re-inject it into the repo?

Also, what OS is this for...OpenBSD? Would you mind writing an article on
the Wiki explaining how to
set up/run the engine under that OS?

On Sat, Aug 27, 2016 at 12:22 PM, ryan-sg <notifications@github.com> wrote:

[2016-08-27 19:48] ryan-sg commented on #22
i copied the Makefile.bsd over again and added the new object files since the last revision.  Going to update my edge tree to current master then make another pull request soon.  I'll have a boo at the wiki at some point, though my ultimate goal is to just create a 'port' for 3dge on OpenBSD, then any OpenBSD users can just pkg_add 3dge one day. :-)

[2016-08-27 19:50] Corbachu commented on #22
That'd be great! I can also update our own Wiki, and the DoomWki, to say
that we support OpenBSD, then we can all
communicate and release all versions at-once, or even together, like we did
with the recent 2.1.0-Test2, where Linux
and Win32 were packed together ;)

On Sat, Aug 27, 2016 at 12:48 PM, ryan-sg <notifications@github.com> wrote:

[2016-08-27 20:05] ryan-sg commented on #22
hehe, remember though, you won't really want to release pre-compiled OpenBSD binaries.  I don't have the resources to keep OpenBSD release versions installed to create them, and builds made against a snapshot can stop working pretty quickly.  Better to refer to the OpenBSD ports and package system :-)

As far as FreeBSD, NetBSD, DragonFlyBSD go, I have a sneaking suspicion that the Makefile.bsd wo

[2016-08-27 22:10] ryan-sg commented on #22
I think we are good to close this one now that you've merged things, I can revisit the other questions later :+1:

[2016-08-27 22:10] #22 closed

[2016-08-27 22:16] ryan-sg opened #24 "player movement 'inertia' seems funny in 3dge"
So, I have noticed this for a very, very long time.  It is probably the only thing that annoys me a bit about the edge engine and thus 3dge that follows.

When moving around at high speed, if you hit a wall, to move away from it it almost feels like you are fighting the marine from trying to continue to run into the wall.  It seems like the game keeps player movement inertia going even after hitti

[2016-08-27 22:34] ryan-sg opened #25 "crash when multiplayer menu selected"
This might be already known since menus are being worked on, but just in case:

[code]

[2016-08-27 22:35] ryan-sg opened #26 "the new -v135 switch"
This is more of a suggestion than a problem, but rather than having the engine bomb out telling the user to run it again with the -v135 compatibility option, why not just automatically detect that condition and enable v135 without user intervention?

[2016-08-27 22:36] ryan-sg commented on #10
Is 3dge still using GL/glew.h really?  I noticed at least in i_video.cc i can comment out the include for GL/glew.h and it seems to affect nothing...

[2016-08-27 23:08] Corbachu commented on #26
It was a deliberate move to force people away from using EDGE 1.35, since that author gets bugged about it enough, and 3DGE is now different enough that the two won't be compatible. The idea here is that the user, modder, whatever -- will be too lazy to run it with a command line switch when they can change the VERSION directives in doom_ddf. Also it is part of our forward-thinking: we don't want

[2016-08-27 23:32] ryan-sg commented on #26
Ah yes that sounds good then.  I actually thought this WAS the spiritual continuation if edge, and Andrew Apted had stopped working on edge?

[2016-08-27 23:37] Corbachu commented on #26
This is the direct continuation of EDGE. Andrew helped me and the others grasp the engine and submitted patches for 3DGE bugs for the past 4 years or so, but he's ready to move on. He stopped working on it for a reason ;)

[2016-08-28 04:02] ryan-sg commented on #26
Ahh okay, I believe I understand now, sorry for the noise! :-)

[2016-08-28 04:02] #26 closed

[2016-08-28 11:23] ryan-sg opened #27 "bullet casing objects in various mods slide on ground forever"
I've noticed this in the Immoral Conduct 2 mod and the 3dge64 mod now.  Both require the -v135 switch to run,  so I'm not sure if its an issue because these mods are still using older DDF things, or if there is a legitimate issue somewhere in the engine or stock ddf files.

Basically as the title says, bullet casings just seem to drift around the floor forever, bouncing off a wall and continuing i

[2016-09-03 21:13] Corbachu commented on #10
I will test this out tonight. The i_video code now uses sdl_opengl, but GLEW is still required for extension checking. We really need to get a replacement going..

[2016-09-04 18:32] Corbachu commented on #24
Yeah, i saw PrBooms implementation, so I will modify and integrate it in the engine soon :)

[2016-09-13 08:39] Corbachu commented on #27
I think we recently fixed this problem -- compile from /master and let us know if you still experience the same issue. Personally, I have not seen the problem arise since the fix was applied^_^

[2016-09-13 15:50] ryan-sg commented on #27
Cool!  I'll try and verify this soon :-)

[2016-09-13 20:57] ChillyWillyGuru commented on #24
EDGE keeps track of an object's momentum in 3D. There are cases where it clears the momentum, but clearly it's not in this case. That was the cause of the jump bug we fixed - the movement code didn't clear the z momentum on one case, leaving the player with some momentum when they next jumped that had to be countered.

[2016-09-14 21:08] ryan-sg commented on #27
I couldn't find a mod with infinite-sliding bulletcasings anymore! Success!

But... one other artifact still exists.  I am unsure what it actually is as of yet, but the Doom4Ever mod should bring it to attention.  MAP02 of DOOM2, have a shotgun out, i think its the sound of shotgun casings hitting the floor starting an infiniteloop, so you get a the clatter sound of shells bouncing on the floor fo

[2016-09-14 21:11] ryan-sg commented on #24
thanks for the insights @ChillyWillyGuru!  Another possibly easier test case for this is just strafing side to side at the beginning of doom2 map01.  If you counter your strafe direction before you hit a wall on either side, the direction change is quick and responsive.  As soon as you hit a wall before countering the strafe, definitely feel the 'stickiness'...as it were.

[2016-09-16 04:47] Corbachu commented on #25
Just fixed this problem, I had an assertion with STYLES when the main menu removed support for them -- build from Git again and test just to be sure!

[2016-09-17 04:17] ryan-sg commented on #25
woohoo! Thanks @Corbachu!  Confirmed to no-longer crash here.

On an unrelated topic, this makes me smile!
[code]

[2016-09-17 04:17] #25 closed

[2016-09-17 04:28] ryan-sg commented on #27
aha!  I discovered what is actually causing the sound issue, since the bullet casing sliding issue is resolved, i'll close this one and open another with a proper problem report :-)

[2016-09-17 04:28] #27 closed

[2016-09-17 04:37] ryan-sg opened #28 "sound loop when enemy drops weapon too close to walls (ex. doomforever-redux)"
As I originally tried to report in https://github.com/3dfxdev/hyper3DGE/issues/27, though completely incorrect hypothesis, I have discovered the exact cause!

Map02 works good because there are corridors with lots of enemies that are likely to die near a wall, when they drop their weapon (shotguys, former humans both) and it lands really close to a wall, the sprite is clipped into the wall a bit.

[2016-09-23 03:59] Corbachu commented on #28
It's been a crazy week for us -- finally back at it, will check this out tonight!! =D

[2016-10-06 20:49] #20 closed

[2016-10-07 01:33] Corbachu commented on #12
This has been verified as fixed :)

[2016-10-07 01:33] #12 closed

[2016-12-22 01:08] gameblabla opened #30 "SDL_SetWindowBrightness not working on Ubuntu"
SDL_SetWindowBrightness is used for the gamma setting but it doesn't work on Ubuntu for some reasons, only Windows.
It also didn't work when EDGE was using its libSDL 1.2 equivalent, SDL_SetGamma.
Someone reported the issue to libSDL but its developers refused to acknowledge the issue.

To work around this, we could simply use a transparent white square to imitate gamma settings like so in i_video

[2016-12-22 23:26] Corbachu commented on #30
I would have to work directly with you as I do not have a machine with
Linux installed.

Strange that those issues arent a problem on Win32 but they are still with
Linux. Hmmm. Drawing the full screen quad might work though!

On Dec 21, 2016 5:08 PM, "gameblabla" <notifications@github.com> wrote:

[2017-01-04 05:43] gameblabla commented on #30
Apologies for my late answer. here's an initial that implements the brightness hack.
I'm only providing a diff patch for now, i might create a branch and merge it if you're ok with that.
`--- ./src/i_video.cc
+++ ./src/i_video.cc
@@ -55,6 +55,9 @@

 SDL_GLContext   glContext;

+#ifdef LINUX
+static float gamma_settings = 0.0f;
+#endif

 // Possible Windowed Modes
 static struct { int w, h; } possi

[2017-01-04 08:00] Corbachu commented on #30
That's fine -- go ahead and create/merge branch into main. Now I see what you are talking about! Since it works as intended under Windows, this gives me a better idea of what our Linux users are encountering.

But without anything better to deal with this issue under Linux (since the SDL team doesn't want anything to do with it), this will have to be our solution for now, and I completely approve

[2017-01-05 03:58] gameblabla commented on #30
I merged my branch, this should do it. Thanks Corbachu

[2017-01-05 03:58] #30 closed

[2017-01-17 00:23] Corbachu commented on #28
We have fixed this in the latest Git revision - please try this out again, and if it comes up then we will inspect it. If not, I will close and mark as fixed! =)

Specifically tested with Duke it out in DOOM.

[2017-01-17 00:25] Corbachu commented on #24
The momentum bug has now been fixed; Chilly cleared it if there is no sliding that can be done, as of commit 18bb710. Try it out and verify -- if it looks good, I will close this.

[2017-01-18 02:49] ryan-sg commented on #24
hey hey!  I just checkout out master and gave it a whirl.  Unfortunately, it still seems pretty sticky to me, if i run head-on into a wall and try and back away the moment i hit, there is still a bit of a delay.  I thought it was weird that bobbing was stopping when i hit any walls, but then i noticed the commit about it being intentional, so i'll get used to it ;-)

[2017-01-18 02:53] ryan-sg commented on #28
hmm, i was able to quickly reproduce the problem still with doom4ever-redux, still on map02, right after I shot the shotguy behind the red key bars  his shotty landed too close to the wall and clickityclickityclickity....etc

i'm at revision 4fac0fb9f04f589d405b5437c59148c0522be3c6, plus my 'merge' to my local branch, plus my bsd-makefile-fix commit.

[2017-01-21 00:15] Corbachu commented on #28
Issue 1: Yes, the pitch shift table needs slight improvements =D

Issue 2: This was recently fixed in commit 0e564ba, so please check that and make sure it is indeed fixed.

I'm going to close this now -- if you feel like it should be re-opened (since none of us can replicate the issue now), let me know and I'll re-open it.

[2017-01-21 00:15] Corbachu commented on #24
So are you talking about the time it takes for Doomguy to stop moving once you let go of the key?

[2017-01-21 02:23] ryan-sg commented on #24
Nope, that actually works fine as long as I let go of +forward /before/ I hit a wall.  Just did a quick comparison between prboom-plus and 3dge and it seems pretty much spot on.

Only when I hit a wall direct.  Maybe I try to explain another way, before I try and find some sort of recording software to make videos :-D

These two executions:

prboom-plus -nomonsters -warp 1
3dge -nomonsters -warp 1

[2017-01-21 02:29] ryan-sg commented on #24
It almost seems like, after doing the tests /without/ hitting a wall, that 3dge uses the exact same calculation of slowdown when running into a wall (while standing up against it) as it would if you were running freely then immediately hit +backwards.

[2017-01-21 02:32] ryan-sg commented on #28
I hope commenting on this doesn't auto-reopen it, but just for clarification do you mean that you guys also tried doomforever-redux (doom4ever-redux?) and can't reproduce the issue there whereas I still can?  Before I say much more i'm pulling the latest changes anyway and I'll double check again.  Cheers!

[2017-01-21 02:38] ryan-sg commented on #28
:(  I was able to reproduce the issue again in DukeOut just now, bahh

[2017-01-21 02:44] Corbachu commented on #28
How are you doing it? Having videos showing this behavior would help immensely at this point, because me nor Chilly experience the issue. If you can record it, I can try better to isolate it! ^_^

[2017-01-21 02:45] ryan-sg commented on #28
Just re-verified in the last built binary where I thought it was gone and it was still there too, I guess I just was really flukey to not bring it out.  In my haste to see the fixed barrel placements (they ARE fixed!) i just turned on noclip to see them real quick, enemies shooting at me hit each other and started it.

So easy way is, -warp 02, then idclip, iddqd, idkfa, rocket launcher out, blow

[2017-01-21 03:02] ryan-sg commented on #28
I tried to record a video of this issue with my phone in a hurry, mmsing to myself was probably a bad idea as you can barely see ANYTHING.  (sideways because i had to use a kleenex box as a phone holder so I could play LOL)

Buut, we want sound, and you can still hear it.  You can hear my noisy mechanical keyboard, but right at the end when I've stopped at the red keycard the sound has started and

[2017-01-21 07:01] Corbachu commented on #28
The only thing I can think of at this point are these few commits, which updated the core math functions awhile back by Brendan and another user -- this broken behavior seemed to happen shortly after these were made. Chilly, if you can, look over these and make sure they aren't wrong. .

e8ea9b8

2e07d3a

a4f8a73

901ca31

103dc3a

bdc2d23

[2017-01-21 07:02] Corbachu commented on #28
Also, ryan-sg, it might be wise to replay this with Interpolation off (r_lerp 0 and r_vsync 0) to make sure it's not the interpolation code mucking things up...?

[2017-01-22 01:05] ryan-sg commented on #28
Just checked out r_lerp 0; r_vsync 0 here and it still happens, so it seems interpolation code is not to blame.

I don't have time right now, but I can take a stab at reverting those commits you posted above one at a time to see if they help.  (Actually, might try at first by reverting ALL, then adding them back one by one...)

[2017-01-22 16:51] Corbachu commented on #28
Also, Ryan,what is your full name so I can properly add you to AUTHORS?

[2017-01-22 19:03] ryan-sg commented on #28
Ryan Freeman, cheers!

[2017-01-24 01:28] ryan-sg commented on #28
sorry guys, i haven't had a chance to look into this just yet, been so busy trying to get another car purchased i haven't even had a moment on the computer for long.  I haven't forgot about it!

[2017-01-26 21:39] Corbachu opened #33 "Github.com"
Please look over team!

[2017-01-26 21:41] Corbachu commented on #33
http://devbuilds.drdteam.org

As you can see, we can now host dev builds of 3DGE. So, email me so I can get you login details so we can start releasing OpenBSD (ryan), Linux (Chilly), and MacOSX (Brendan,).

[2017-01-28 18:37] Corbachu commented on #28
@ryan-sg  is this still happening? I can't get it to bug out like this for the life of me >.<

[2017-02-11 12:06] #28 closed

[2017-02-11 12:07] #33 closed

[2017-03-13 09:52] usernameak commented on #33
@Corbachu i need some linux builds there

[2017-07-19 14:34] jmtd opened #46 "fails to build on os x"
[code]

[2017-07-29 03:34] Corbachu commented on #46
Sorry for the delay here.

This "bug" was affected under Visual Studio, which I remember. Basically, this was worked around via src/i_defs.h, in Win32:

[code]

So, I would (as to test), pop in the last line: **#define uint unsigned int**, into p_setup.cc and see if that makes your compilation succeed.

If so, then it needs to be added in i_defs.h as a MacOSX define.

Please let me know if that he

[2017-08-21 02:40] gameblabla opened #47 "Very slow performance and heavy stuttering on Linux"
Hello,
Since a year ago or so, the Linux version was not running smoothly.
Even when the fps counter is at 59 FPS, it still stutters like mad.
3DGE was compiled with both extreme optimisation "-O3 -march=native -mtune=native" and the default ones.
No matter what you're playing, the engine stutters a lot, even though the fps counter says the game runs fine.
This was on a Ryzen 5 1500X 3.5 Ghz (SMT

[2017-09-13 19:40] usernameak commented on #10
On Linux it's easier: just make a header
On Windows we need to use wglGetProcAddress

[2017-09-21 20:18] Corbachu commented on #24
I have implemented a fix:

In P_XYMovement:

				if (blockline && blockline->special)
				{
					P_ShootSpecialLine(blockline,
						PointOnLineSide(mo->x, mo->y, blockline), mo->source);

					// CA 8.7.17:
					//reflect momentum away from wall (try to fix sticky walls physics?)
					// Seems to work in making things less "sticky".
					mo->mom.x = mo->x * 2 - mo->mom.x;
					mo->mom.y = mo->y *

[2017-09-21 20:18] #24 closed

[2017-09-22 19:51] usernameak commented on #24
More than year!

[2017-09-27 16:21] Corbachu commented on #47
Gameblabla - Sorry to reply so late.

I've recently made some slight changes to the interpolation code, so please try again and see if you get some performance increases. As pointed out by Graf, E_Display was calling N_SetInterpolater() when it didn't really need to -- thusly, I moved it into P_Tick(), and so far on my system, it seems to result in less "wasted" frames.

Since then, UsernameAK has

[2017-09-27 16:24] Corbachu commented on #25
I know this is closed now - but if you have a chance, do some testing for me in Splitscreen mode. As long as you have at least one controller, two people can play the game. Keys for second-player are still not bindable, but at least it's playable with two-people, one using the gamepad, second using the keyboard/mouse. ;)

[2017-09-27 16:25] Corbachu commented on #24
I know, but with time comes knowledge ;-)

[2017-09-29 20:36] usernameak commented on #47
@Corbachu i have the same problems :D

[2017-09-30 11:20] usernameak opened #49 "unx_main.cc conflicts with i_main.cc on Linux"
unx_main.cc conflicts with i_main.cc on Linux
[code]

[2017-09-30 11:29] usernameak commented on #49
Fixed.

[2017-09-30 11:29] #49 closed

[2017-09-30 11:44] usernameak commented on #47
As noted in 3DGE-CVARS.txt, -norenderbuffers is required on Linux with ATI. But i have Intel HD Graphics O_o

[2017-10-03 20:32] Corbachu commented on #47
Intel HD graphics...generally EDGE will run like crap on it. Any OpenGL-heavy engine on IntelHD isn't expected to perform well most of the time. I dont have one so I can't say for sure. The desktop machine though is beefy enough..strange...

[2017-10-04 10:14] usernameak commented on #47
@Corbachu hmmm... Doom 3 gives 60 fps without glitches on my IntelHD (:rofl:) but EDGE runs like crap on it

[2017-10-04 10:19] OrdinaryMagician commented on #47
i5-6400 and a GTX 680 here, using the proprietary NVIDIA drivers, of course.

I also do notice some stuttering despite it running constantly at 60 FPS.

[2017-10-04 10:58] usernameak commented on #47
I just have walked through source code with GDB, and I've found a problem: https://github.com/3dfxdev/hyper3DGE/blob/3fdb5f080b7517ebd3473d2dad6cee94ed2ee989/src/hu_draw.cc#L705 gives GL_INVALID_VALUE error

[2017-10-04 16:57] Corbachu commented on #47
Is that not supported under Linux video drivers? I am thinking and have heard Linux drivers are finicky, but if you have suggestions then I'm all ears. Maybe defaulting to -norenderbuffers on Linux would help?

[2017-10-04 21:22] OrdinaryMagician commented on #47
From the OpenGL docs:
`GL_INVALID_VALUE is generated if colorNumber is greater than or equal to GL_MAX_DRAW_BUFFERS.`

I've tested that the value of GL_MAX_DRAW_BUFFERS is 8 in my system.

[2017-10-04 22:59] Corbachu commented on #47
@usernameak well it's not that its a shitty renderer, it just wasn't designed for interpolation. We really gotta take a look at the lerp code and fix it up. I think most of it is bottlenecking in E_Tick() in e_main.cc, but a lot of the code resides in n_network.cc.

[2017-10-05 19:50] usernameak commented on #47
@Corbachu the reason of such bug is that NVIDIA linux driver has less limits about `glBlitFramebuffer` than other linux drivers

[2017-10-05 21:22] Corbachu commented on #47
okay, so what we need to do is (if you can), wrap an #ifdef LINUX around that and have it check that the extension limit is in a valid range. You can insert that via R_Main.cc, in RGL_CheckExtensions(), so if it fails that test we can disable the shaderprogram much earlier in the initialisation. That's the best solution IMO. :-)

After you handle that, then we can begin fixing up the interpolation

[2017-10-06 17:13] usernameak commented on #47
@Corbachu I remembered that in the Linux Intel driver has very bad preprocessor that almost doesn't work. So... we have to write our own one!

[2017-10-06 19:56] Corbachu commented on #47
I thought gitinfo was added! I remember adding it before...lol I'll do it when I get off work tonight :D

[2017-10-07 12:21] usernameak commented on #47
@Corbachu everything becomes smooth when i do `r_lerp 0`

[2017-10-14 03:35] Corbachu commented on #47
yeah, I figured that was the cause. Rachael had me create a lerp2 branch so we can focus on rewriting all of the interpolation code :D

[2017-11-26 23:13] raa-eruanna commented on #46
It appears this bug  was addressed in this commit: https://github.com/3dfxdev/hyper3DGE/commit/69badbc1d332e938d116efac84c2793828e08767 - Travis says it builds now - can confirm? (Will need to use CMake from now on, though)

[2017-11-27 22:48] jmtd commented on #46
Thanks, sorry I didnt' respond to your July message. I'll take a look at this Tomorrow.

[2017-11-28 10:40] jmtd commented on #46
Hey, using cmake on a fresh clone and I don't hit *this* problem: I do hit a linking problem that is alluded to in the travis config, but I imagine I could figure that out with a bit more time, so I guess we can consider this particular issue closed. Thanks!

[2017-11-28 10:40] #46 closed

[2017-12-17 10:36] Metalhead33 opened #51 "Failure to build on Gentoo Linux"
Here's the logs, I am using the CMake version:

localhost build # make
Scanning dependencies of target updaterevision
[  0%] Building C object tools/updaterevision/CMakeFiles/updaterevision.dir/updaterevision.c.o
[  1%] Linking C executable updaterevision
[  1%] Built target updaterevision
Scanning dependencies of target revision_check
src/gitinfo.h updated to commit 2.1.0pre-426-gacac427.
[  1%]

[2017-12-17 22:43] Corbachu commented on #51
Ooops, sorry, I had forgotten to wrap the wglSwapIntervalEXT in a WIN32 define.

Fixed in 7e7e08725116fdf5c61ba72eedc411774873d03d

Please try again and let me know if it is compiling again =)

[2017-12-17 22:44] Corbachu commented on #47
@usernameak
@gameblabla

Please build and try this again -- I have made numerous changes to the swap interval code that should have stuttering and slowdowns fixed xD

Please test on Linux so we can compile and release a 2.1.0-Test3 binary for Linux folk =)

[2017-12-18 02:28] simc2 opened #52 "antivirus alert - edgecrashreport.exe"
AVG stops downloading the EDGE-2.1.0-Test3-Win32.7z because of a suspected threat with the included edgecrashreport.exe. The same happens with the latest builds in DRD team page.

[https://www.virustotal.com/#/file/e08565e83cd1e2ebb4586e1bf15a93e72fb352e6e99c37df66c082c8bf383697/detection](https://www.virustotal.com/#/file/e08565e83cd1e2ebb4586e1bf15a93e72fb352e6e99c37df66c082c8bf383697/detection)

[2017-12-18 02:36] simc2 opened #53 "screen shake change not saved in cfg file?"
(EDGE-2.1.0-Test3-Win32 / Windows 8.1 64 bit)

The screen_shake option is in EDGE2.cfg but changing the new value from the menu does not get saved in the cfg file? Options > Screen options > Screen shake

It's ON by default. After launching Edge I can turn it OFF, but when I exit and run Edge again it's ON again. If I edit the cfg in notepad and change screen_shake to "0" it's OFF by default and c

[2017-12-18 09:58] Metalhead33 commented on #51
Scanning dependencies of target updaterevision
[  0%] Building C object tools/updaterevision/CMakeFiles/updaterevision.dir/updaterevision.c.o
[  1%] Linking C executable updaterevision
[  1%] Built target updaterevision
Scanning dependencies of target revision_check
src/gitinfo.h updated to commit 2.1.0pre-429-gfe5f37e.
[  1%] Built target revision_check
Scanning dependencies of target 3DGE
[  1%]

[2017-12-19 23:31] Corbachu commented on #52
Its a false positive. The program comes from the Eternity Engine -- try downloading that port and see if you get the same result from their crash app (EDGE's is functionally identical). I build it under MSVC and all we have done is rewrite some textual lines.

Not sure how to handle this tbh. I don't get warnings from Windows Defender, nor Malware Bytes on my end. I use AVG TuneUp, but I don't act

[2017-12-19 23:32] Corbachu commented on #53
I totally forgot to add it to the CFG defines, I'll do it ASAP. Sorry about that!

[2017-12-19 23:33] Corbachu commented on #51
I think I might have wrapped some defines in I_video wrong (the wgl stuff is for Windows). I'll try and fix it ASAP -- I apologize for that problem!

[2017-12-20 22:46] raa-eruanna commented on #51
Fixed in c90b785f2b77c3756a2117cb96b37efb1eaea547

[2017-12-20 22:46] #51 closed

[2017-12-20 23:23] simc2 commented on #52
Only that AVG blocks downloading the latest Edge versions totally.

After getting the 7z file and trying to extract the files AVG moves edgecrashreport.exe in quarantine. This happens with edgecrashreport.exe (dated 2017-09-21 22:40) from these versions:

EDGE-2.1.0-Test3-Win32.7z
EDGE-2.1.0pre-313-g39864ea.7z

In virustotal.com AVG, Avast and two more engines detect the file positive. (Win32:Evo-

[2017-12-21 00:25] Corbachu commented on #52
Hmm, I am not sure what could be causing the issue. Quasar mentioned that it is just a false positive thing, and my machine is not infected in any way -- so I'm unsure how to proceed. I'll see what changed with Eternitys crash program and upload a new devbuild in the near future.

[2018-01-13 18:25] dsdman opened #54 "Linux build crashes"
hyper3DGE git build (latest commit as of 01/13/18). Running Arch linux kernel 4.14.13. i7 4720hq processor, nvidia gtx 960m, and 16 gigs of ram. I have all dependencies installed.

While hyper3DGE compiles just fine, running the binary does nothing.

Steps to reproduce:
1. Compile hyper3DGE (I used the cmake build system)
2. copy over 'data' directory to directory with binary
3. copy over any iwad

[2018-01-16 18:46] gameblabla commented on #54
This is something i can confirm. Using GDB with debug symbols does not lead to anything. (other than the fact the driver crashed)
0x00007fffec417878 in ?? () from /usr/lib/x86_64-linux-gnu/dri/swrast_dri.so

This happens with both nouveau and llvmpipe. Last time i tried last month, it was also crashing.
I thought they would figure this out but guess not... It used to work so i'll try to bisect it

[2018-01-16 19:33] gameblabla commented on #54
Ok, so i discovered the commit that makes the Linux build crash.
It's this one :
https://github.com/3dfxdev/hyper3DGE/commit/97efa2283bc7fdf62e4d6d41440d7f043bf57753
If you uncomment RGL_GL3Enabled in the file src/hu_draw.cc at line 682, it will work properly.

Seems like Renderbuffers does not work properly on Linux... Or maybe the code is not compliant.
@Corbachu, why was this uncommented ?

[2018-01-17 02:04] Corbachu commented on #54
@gameblabla there's a command-line switch called _-norenderbuffers_. Use that, and the game should start.

Anyways, I made further GLSL shader path fixes (though shaders right now, while they now compile from path/file, still need to get the screen quad set up beforehand) that should get the game started. Please retry and let me know if it is fixed.

[2018-01-17 02:06] Corbachu commented on #47
@gameblabla Can this be revisited by some Linux folk? I had made important changes that fixed the SDL refresh timing for the screen, so now there's hardly any stutters unless you are playing a giant map like Frozen Time.

Please look into this again so I can close it. =)

[2018-01-17 02:28] dsdman commented on #54
@Corbachu I have tried the new build (commit 9fc9260) and it is still failing to launch doom. I have tried with and without the -norenderbuffers option, both without success.

I am using the latest proprietary linux nvidia drivers (387.34). In addition to this, the windows build of hyper3DGE (2.1.0 test 3) runs just fine in linux through wine. Lasty, other doom ports like gzdoom (tested a couple o

[2018-01-20 04:24] Corbachu commented on #54
Have you tried the newest revision?? Made some big changes..try it out. If it still fails then it might be a driver related issue.

[2018-01-20 04:24] Corbachu commented on #54
Have you tried the newest revision?? Made some big changes..try it out. If it still fails then it might be a driver related issue.

[2018-01-20 04:24] Corbachu commented on #54
Have you tried the newest revision?? Made some big changes..try it out. If it still fails then it might be a driver related issue.

[2018-01-20 05:27] dsdman commented on #54
@Corbachu currently testing the newest revision. There is a build error on line 271 of con_main.cc due to a function call to '_strupr', which seems to be a part of the Microsoft C library (probably not supported in GNU gcc/g++, hence the build error). It compiles if you comment out the line or change it to strdup.

Once compiled, it still doesn't run Doom, so it may be some kind of proprietary Nvi

[2018-01-20 06:40] Corbachu commented on #54
@dsdman What does your Debug.txt contain? That would help me figure out what is going wrong, specifically the OpenGL settings. If it turns out GLSL isn't supported or working right, than it might be the cause. Also, the program should be I_Erroring, not just exiting normally, so that makes me think some sort of OpenGL Extension is mucking stuff up.

[2018-01-20 12:52] OrdinaryMagician commented on #54
So, I tried my hand at this and I found something rather amusing.

On Linux, E_Main is never called from main. That's... a rather big oversight.

[2018-01-20 16:43] dsdman commented on #54
@Corbachu I have recompiled with "-DDEBUG -DDEVELOPERS -DNDEBUG" added to the definitions in CMakeLists, but there seems to be no 'Debug.txt' generated when I run hyper3dge (I can confirm that the preprocessors are being passed if I enable VERBOSE when compiling). I do however have the output of gdb log file:
`Breakpoint 1 at 0x10e555: file /home/dylan/apps/src/hyper3DGE/src/system/i_main.cc, line

[2018-01-20 17:25] dsdman commented on #54
UPDATE: I have now  got the program to run by adding:

below line 142 (just below the WIN32 ifdef). I then had to add edge.epk from the windows build (seems to be missing from data.) Now the program runs, but there are no graphics (no menu, no game graphics) sounds seem to work just fine.

[2018-01-20 21:41] Corbachu commented on #54
@dsdman Go ahead and commit your changes for the other Linux users, if you can, I appreciate it :-)

Enable edgegl.txt output, I forget where I had it ifdefed (at work ATM), but its used to show if the shaders have been compiled and read successfully. Also try running again with -norenderbuffers.

[2018-01-21 00:50] Corbachu commented on #54
@dsdman, marking as resolved - for missing display, open another issue so we can track it, thanks again! :-)

[2018-01-21 00:50] #54 closed

[2018-01-21 00:52] Corbachu commented on #52
@simc2 Going to pull Eternity's latest crash program and re-introduce fresh into EDGE. I'll post a devbuild when this has been done and you can test to see if AVG still mucks with it.

[2018-01-22 01:54] dsdman opened #56 "Will not compile"
Using arch linux kernel 4.14.13. Nvidia Geforce gtx 960m, intel core i7 4720hq processor. GNU g++ compiler on the cmake build system.

[2018-01-22 02:10] Corbachu commented on #56
Yeah, for some reason Win32 won't complain - I am going to set up a Linux VM on my PC tonight just so I can always be sure the Linux version can be built from now on.

Also, tarray needs to go, it was only a temporary thing for the new extension checker from GZDoom. Once mExtension can be rewritten for epi::array_c then I'll just trash it. But I'll work on fixing that right now, I think I just nee

[2018-01-22 07:23] Corbachu commented on #56
@dsdman try again, it should compile now =) Checked with TravisCI, and I'm almost done setting up my VM, so hopefully these issues can be completely avoided in the future.

[2018-01-22 14:49] dsdman commented on #56
@Corbachu seems to be fixed. Thanks again.

[2018-01-22 14:49] #56 closed

[2018-01-22 22:29] Corbachu commented on #47
@dsdman can you confirm or deny any of these slowdown issues for me? Still on the last steps of setting up my VM but I would like real-OS performance tested. I really appreciate the help! Let me know if you can or can't. Thanks friend.

[2018-01-22 22:47] dsdman commented on #47
@Corbachu I can't confirm nor deny any of these slowdowns, mainly because I still do not have a display in-game (no menus, no hud, no graphics, no anything). I plan on opening a ticket later when I have time.
That being said, I turned on debug_fps in the config file, and the fps does not show up in the log, so I'm assuming this option displays/draws the fps on screen. Also on a side-note, I don't

[2018-01-22 23:31] Corbachu commented on #47
@dsdman restart the compile with debug and developers enabled in the code. Does EDGE generate the debug textfile? If so, please paste the entire contents or pop it via PasteBin. Please also paste the additional text files (glsl.log and glext.log) as those will help me determine if it could be a glEnumError or whatnot. I have a sneaking suspicion it has to do with the video code (I_video.cc) not se

[2018-01-22 23:36] Corbachu commented on #47
@dsdman also run the engine with -norenderbuffers just in case!

[2018-01-22 23:51] dsdman commented on #47
Okay, here it is:

[Debug.txt:](https://pastebin.com/0T1GPJ9S )
[glsl.log:](https://pastebin.com/U7VW5aeL)
[EDGE2.log](https://pastebin.com/NSR9NCdF)

glext.log is empty, but below is a list of all the ifdefs I could find using grep. Which one enables output to this file?
[ifdefs.txt](https://github.com/3dfxdev/hyper3DGE/files/1653985/ifdefs.txt)

[2018-01-23 00:59] Corbachu commented on #47
@dsdman There should only be "GLSL.log" and "glext.log". Edgegl.txt turned into a logfile in the newer commits.

Try setting r_swapinterval to 0 in edge.cfg and reboot. Setting it to " 2" is only for Win32, so if it is already at 1, then set it to 0..

[2018-01-23 01:01] Corbachu commented on #47
Also, run the engine with -oldglchecks just in case. .

[2018-01-23 01:18] dsdman commented on #47
@Corbachu ran it with both r_swapinterval at 0 and 1, still no graphics. However, setting it to 0 also seems to crash it (no sounds/input with it at 0 vs at 1 it has sounds/input). Here are the updated logs (with it set to 0):
[edge2.log](https://pastebin.com/cxD5cgWh)
[debug.txt](https://pastebin.com/BaqG5jMs)
[glsl.log](https://pastebin.com/BA47t7uP)

[2018-01-23 01:25] Corbachu commented on #47
Hmmm. I'm not sure what the issue can be at this point. You tried -oldglchecks right? Also try turning off r_bloom, r_fxaa, and r_lens.

[2018-01-23 01:36] dsdman commented on #47
Yes, both -oldglchecks and -norenderbuffers were on. I just finished trying permutations of these two options along with changing r_swapinterval, r_bloom, r_fxaa, and r_lens in the config file. The only difference between any of these options seems to be that r_swapinterval at 0 crashes the game.

[2018-01-24 00:04] Corbachu commented on #47
Hmmm, okay so r_swapbuffers needs a "r" flag to prevent users from changing it (breaking the game).

I started looking into OpenGL debuggers last night but haven't settled on one. Since Win32's renderer works, we would need to settle on one for Linux only.

I know Something Somewhere is calling a glEnumError; it isn't SDL as the context appears to be created and dumped just fine. So I propose we s

[2018-01-24 07:19] Corbachu commented on #47
@dsdman Do a pull. I have enforced _much_ stricter checks for the RenderBuffers context. Now, if _-norenderbuffers_ is specified, it will prevent **RGL_InitRenderBuffers()** from even creating the context. Avoid using _-oldglchecks_ unless absolutely necessary. If this doesn't fix the Linux rendering context, I'm moving on to hard OpenGL debugging.

[2018-01-24 14:47] dsdman commented on #47
@Corbachu Just did a pull + recompile. There is a compiling error (oddly enough when linking the executable):

I "fixed this by commenting out line 760 in r_main.cc: r_fxaa_quality.d = 0

Still gives me a black screen (both with and without -norenderbuffers). I guess we'll have to debug it with OpenGL debugging, though I recall it not being broken several months ago, so it may be a regression with

[2018-01-24 20:46] Corbachu commented on #47
@dsdman keep me up to date, if/when you find one, let me know how to set it up since I have Ubuntu in a VM now :-)

Hope we can get this ironed out!

[2018-01-24 23:54] Corbachu commented on #47
And the r_fxaa_quality was introduced but I forgot to push it...I'll do that tonight :D

[2018-01-25 00:09] gameblabla opened #57 "No GL Display on Linux"
Currently, when attempting to run 3DGE on linux, all you get is a black display.
Last commit before that to work with few modifications was the git commit from December 7.
When raa-eruanna attempted to fix Linux support after some windows code was added in src/system/i_video.cc, he actually broke the display on Linux.
(https://github.com/3dfxdev/hyper3DGE/commit/c90b785f2b77c3756a2117cb96b37efb1ea

[2018-01-25 00:50] gameblabla commented on #47
So after applying my pull request (https://github.com/3dfxdev/hyper3DGE/pull/58), 3DGE works again on Linux.
I first tried it with -norenderbuffers, r_lerp disabled and the game would stutter.
I then tried it again without it and enabled all the options (including r_lerp at 1) and the game was pretty smooth !
Still some very little stutter.

However, here's when things become odd. (I'm using the N

[2018-01-25 01:05] raa-eruanna commented on #57
First of all, I am "she" and prefer to be referred as that way, and secondly, I have *NO* idea what was going on with that code, it was among a whole bunch of code that Coraline committed one night. Thirdly, the PR breaks Windows compile, so I will have to take a look at it more closely and figure out what's going on. It's possible to compile two completely separate code paths based on operating s

[2018-01-25 01:13] gameblabla commented on #57
Yeah that's why i said this needed some testing on Windows. i was not sure if this would work on Windows. However, as it is now, it still prevents the Linux build from working properly.
Feel to free to provide your own fixes.

[2018-01-25 01:21] raa-eruanna commented on #57
Yeah I am just going to rewrite that entire thing using the code that was there previously before all those commits.

[2018-01-25 02:06] raa-eruanna commented on #47
@gameblabla can you please test master to make sure that the fixes I put work? I rewrote the swapinterval code to be somewhat OS-agnostic and... well, personally, easier to understand.

@Corbachu I don't know if I got the new r_swapinterval values or triggers right, to be quite honest I don't even know if it should trigger based on r_vsync values or not. My "fix" is more about getting things worki

[2018-01-25 19:45] Corbachu commented on #47
@dsdman could you also please test and make sure @raa-eruanna 's fixes have indeed restored the Linux renderer? Thanks :)

[2018-01-25 22:11] dsdman commented on #47
@Corbachu Still won't render on my end. Another thing interesting is that if I revert to commit 19a7657 and apply @gameblabla (now closed) linux fix pull request, it still won't render on my end. So maybe this is an issue with the proprietary Linux Nvidia driver. I will see if I can use the Nouveau (open source) driver and try again with that.

[2018-01-25 23:45] Corbachu commented on #57
Reopened as reported by @dsdman

[2018-01-26 02:07] Corbachu commented on #10
Want to revisit this issue _soon_ :)

[2018-01-26 04:45] gameblabla commented on #57
To me, it does not look like a driver issue at all. It's really due to the fact there's some Windows-specific code and the way its written means that it will break on Linux and vice-versa if reversed. Hence why she was suggesting rewriting the code. I'm surprised dsdman could not get it to work. He must have had applied the patches wrong.

[2018-01-26 05:35] gameblabla commented on #57
As of latest commit, this issue is fixed. At least it is for me with nouveau and llvmpipe.

[2018-01-26 05:37] gameblabla commented on #47
@raa-eruanna Sadly, it does not fix it for me. I compiled the latest git and it still happens. It's hard to describe but it is basically not in sync with the game world, like i can see previous frames.

[2018-01-26 05:38] raa-eruanna commented on #57
It works fine for me too, when using VirtualBox and "-norenderbuffers" - but I can't test it on my bare metal Linux system because that one's running a few Discord bots and it's crashed the kernel on that one before.

[2018-01-26 05:45] gameblabla commented on #57
For me, it also works with render buffers too and i'm using bare metal. I just need to try it with the Nvidia proprietary drivers.

[2018-01-26 06:35] raa-eruanna commented on #47
Manipulating the swap interval values goes a bit beyond my OpenGL understanding then, unfortunately. If r_vsync is 0 it's supposed to turn it off completely and there's a statement earlier in the same file that does exactly that - I haven't checked if it's ever even executed, though.

[2018-01-26 16:58] gameblabla commented on #47
I just switched to the proprietary Nvidia drivers and it works properly with it too.
In fact, this does not have the sync issues Nouveau has with it. (when using Interpolation mode)
I thought it was maybe due to the lack of automatic reclocking but even when set to performance mode, it works fine.
Kinda sad because i didn't want to use the proprietary drivers. Now i need to try this on Intel chips

[2018-01-26 17:01] gameblabla commented on #57
As i reported here (https://github.com/3dfxdev/hyper3DGE/issues/47), using the Nvidia proprietary drivers also work fine too. I'm using Devuan unstable as my linux distribution.

[2018-01-26 18:20] dsdman commented on #57
@gameblabla What is the version number of the Nvidia proprietary drivers are you using? I'm thinking this issue may be due to my laptop's switchable graphics using Nvidia Optimus (very likely), or a new driver making some OpenGL calls deprecated (unlikely). I have set up my X11 server as discribed [here](https://wiki.archlinux.org/index.php/NVIDIA_Optimus#Using_nvidia) on the Arch Linux wiki. I am

[2018-01-26 18:26] gameblabla commented on #57
@dsdman I was using 384.111 for the proprietary drivers. I heard that later versions had some issues with games on Linux and Nvidia was not recommending them. (that and the increased memory usage too)
What is your GPU ? If its a Geforce 900 or later, then they won't work properly on nouveau.

[2018-01-26 18:38] dsdman commented on #57
@gameblabla I am using a Geforce GTX 960m (Maxwell architecture circa 2014-2015). From what I gather from Nvidia's website, this card seems to be the mobile equivalent of the desktop Geforce 750 TI (also Maxwell), just clocked slightly higher. Until I can get nouveau working somehow, I am stuck using nvidia 387.34. I guess I'll continue to use the windows version until I can figure out the cause o

[2018-01-26 18:47] dsdman commented on #57
Okay, so I did more testing, and I finally got 3DGE to work in Linux (proprietary driver). As it turns out, it works fine if you use a compositing window manager or a compositor, but it doesn't give a display if you don't use a compositor (ie Openbox, i3, dwm). This issue can be closed.

[2018-01-26 18:54] gameblabla commented on #57
Oh i get it now. This is actually not a EDGE issue but an Optimus/Prime one. If you have two graphics card, you may not get a GL display unless you use a compositor. That also explains why it worked on my desktop with an Nvidia but not on yours since you're on Optimus.

It actually documented here
https://wiki.archlinux.org/index.php/PRIME

[2018-01-26 20:52] dsdman commented on #47
I just finished testing after resolving #57. It runs butter smooth on my end, even with r_lerp set to 0.

[2018-01-27 01:20] Corbachu commented on #57
We also have a setting that gets enabled for Optimus GPU:

r_gpuswitch, which is found in e_main in _DoSystemStartup()_. I've never had a need for it so I didn't look into it too much, but nevertheless it is there.

So it appears the engine is back in a stable state for both Linux and Windows. I'll go ahead and close the issue =)

[2018-01-27 01:20] #57 closed

[2018-01-27 01:21] Corbachu commented on #47
Great! Performance issues are eliminated then. I'll go ahead and close it =)

[2018-01-27 01:32] #53 closed

[2018-01-27 04:02] gameblabla commented on #47
I'm sorry to say this but they're not. It's still very slow on Intel machines with their iGPUs.
It's definitely not smooth at all on them.

[2018-02-04 21:28] Corbachu commented on #47
Noticed this issue was reopened. Some of you are saying it's smooth, others are not. No more opening this issue -- just for reference. For continuity and cleanliness' sake, can we please post an all new issue? @dsdman sorry my friend! Thead is just too 'noisy' for my ADHD to follow ;-)

[2018-02-04 21:28] #47 closed

[2018-02-11 02:06] Corbachu commented on #10
Opened up a new branch called "noglew", it uses GZDoom's version of glLoadGen. If anyone is curious. As soon as I get it working properly consider GLEW as good as gone :-D

[2018-02-11 02:06] Corbachu commented on #10
@usernameak Maybe you can help me test it out? Just checkout noglew to see where it stands right now. :-)

[2018-02-25 01:16] Corbachu commented on #10
We have successfully stripped out GLEW for our own implementation (based off of GZDoom). Closing this finally :)

[2018-02-25 01:16] #10 closed

[2018-02-25 01:24] Corbachu opened #60 "Networking Overhaul"
I think it would be a good idea for the team to start focusing on the networking code. Part of the reason interpolation is wonky is because it is tied to the in completed networking code in EDGE (n_network.cc).

I strongly feel that in order for us to fix the interpolation code, we need to fix the networking stuff. When I say that, I don't necessarily mean communication over the internet, but port

[2018-03-04 06:46] ryan-sg commented on #54
hehe this bit me (i'm baaack! ;)  Same issue hits me on OpenBSD, but many things have changed since I last was involved.  I'll try and make some neat little pull requests shortly....

[2018-03-04 07:30] ryan-sg opened #64 "mods acting pretty weird on current master"
After getting a working build again after https://github.com/3dfxdev/hyper3DGE/pull/61 https://github.com/3dfxdev/hyper3DGE/pull/62 https://github.com/3dfxdev/hyper3DGE/pull/63  i set to work trying out things like doomforever and duke it out in doom.

In doomforever it seems that weapons that cause knockback make the knockback 'always on' (i.e. after firing rocket launcher my player always wants

[2018-03-04 23:42] Corbachu commented on #64
I knew about a few, but not in detail like this. I'll check it out the very next time I have a chance to run them through VS's debugger. For reference, are they in WAD or EPK format? I've heard that RTS is a bit broken in WAD, but works fine either externally or in an EPK/PK3.

The display thing might be the force feedback - if you turn screen shake OFF does it still happen? What about weapon kick

[2018-03-05 00:32] ryan-sg commented on #64
Doom4ever and Duke it out in Doom are both in .wad format.  CeeJay had uploaded some newer vers since I last tried and the issues are about the same in either.

As luck would have it I did try weapon kick option and screen shake though they didn't seem to affect the problems from the mods at all.  THe screen shake I'm pretty sure is just from where the scripted sequence should happen that gets you

[2018-09-05 17:02] Corbachu opened #66 "Possible Future Feature: INI Parsing for Engine Configuration (replacing edge2.cfg)"
I would like to take some time and weigh in options about using the **INI format** as a replacement to our own CFG file that EDGE creates. I would like to move to something more robust as far as the configuration file is concerned. Using something more modern like INI over our engine-created CFG file could yield benefits, and increase neatness.

Plus, I would like to move the CFG configuration as

[2018-09-05 17:06] Corbachu commented on #52
Closing for now, this issue is stale.

[2018-09-05 17:06] #52 closed

[2018-09-05 17:10] Corbachu commented on #64
@ryan-sg :

I have experienced this issue firsthand as well -- we need to find out what the last version of EDGE was that didn't experience this issue. Will follow up!

[2018-09-07 14:08] JNechaevsky commented on #66
It is also small but important addion for Windows users who are using only standard notepad and/or not very friendly with 3rd part software. The benefit is simple - on Windows, .INI files are initially opened with notepad, while .CFG are not. So this way, config file will be editable by one (well, two actually) simple mouse clicks, which is a good way to go.  :thumbsup:

[2018-09-09 19:56] Corbachu commented on #66
@JNechaevsky me and @ctd1500 are looking into integrating _TOML_ ([skystrife/cpptoml](https://github.com/skystrife/cpptoml)) for the main engine configuration file - trying to settle on a naming convention, which I'm thinking could be:

`[username]-edge-config.ini`
And using _INI_ as the extension as opposed to _TOML_ - only because _INI_ is standard (though we could def change that) ;-)

As I've

[2018-09-10 06:14] DaZombieKiller commented on #66
I would definitely be in support of TOML, it's essentially a standardized version of INI and is just overall far, far superior.

[2019-03-22 17:07] usernameak opened #69 "Changing any boolean option through menu doesn't update the CVar"
Steps to reproduce:

1. Set any boolean cvar through options menu
2. Try to lookup it through console
3. You will get the old value!

If you set the variable thru console, it will be OK.

Please fix it because it makes me unable to update the config format. They don't get saved if i set them through menu!

p.s. i have linux

[2019-03-23 19:45] usernameak commented on #66
I tried to implement this and found a major issue: #69.

[2019-03-23 19:54] usernameak commented on #69
Found the cause. M_OptResponder in m_option.cc casts the cvar_c pointers to int and bool (WHAT?!)

[2019-03-23 22:32] usernameak opened #70 "Idea: rework the old defaults system as CVars"

[2019-04-03 19:57] Corbachu commented on #69
Yeah I see that...well, as you can see by looking through both m_menu and m_option, both files are very old and had a lot of work done to them for a long time. My initial reaction, and something I want to do, is completely rework the menu system into something more modular and modifiable, as these menus and their code have been around mostly verbatim since DOSDoom.

[2019-04-03 19:58] Corbachu commented on #70
Good idea. Currently any additions need to be laced through defaults.h for any of them to cross over (them meaning the CVAR values).

[2019-04-13 20:10] Corbachu commented on #69
@usernameak
What I can do is rework *every* option in the responder to translate to cvars as they probably were meant to be at one point. The ones that cannot are most like gameflags, which the majority of those as stated were moved over.

Interestingly I’ll take a look at the 1.32 version of edge which actually moved all of this over, but had disabled menus, presumably since it was all being rewo

[2019-04-13 20:17] Corbachu commented on #70
See #69

[2019-07-05 23:32] Corbachu commented on #66
Implemented and closing.

[2019-07-05 23:32] #66 closed

[2019-11-26 00:41] Corbachu commented on #70
@usernameak fixed this with #73.

[2019-11-26 00:41] #70 closed

[2019-11-26 00:42] Corbachu commented on #69
@madame-rachelle merged #73 in by @usernameak, closing.

[2019-11-26 00:42] #69 closed

[2019-11-27 16:27] Corbachu opened #74 "IWAD handling"

[2019-12-18 22:34] simc2 opened #75 "Doom, line action type troubles"
Hi, I noticed a couple of Doom line action types behaving unexpectly. I briefly describe them here. I know they should have been reported separately but they all seem like minor errors.

Boom reference: https://soulsphere.org/projects/boomref/
Test wads (Doom2 MAP01): [testwads.zip](https://github.com/3dfxdev/EDGE/files/3980810/testwads.zip)

 ---
65: SR Raise floor 8 below the lowest next ceiling

[2019-12-18 22:38] simc2 opened #76 "Doom, sector light to darkest linetypes"
(Windows 8.1 64-bit, EDGE-x86-2.1.0pre-43-gcf829c9a8)

The Doom lineaction types
194: SR Change sector light level to darkest next sector
173: S1 - " -
157: WR - " -
104: W1 - " -

In Edge they do not not set the tagged sector's light level to match the current darkest neghboring sector but they always set the light level to pitch black instead. I can't visually determine the light value more prec

[2019-12-19 17:23] Corbachu commented on #75
@simc2 Thank you for the bug report. I am busy today so I will for now try and respond one-at-a-time.

**Regarding the first issue at hand:**

* * *
**65**: **_SR Raise floor 8 below the lowest next ceiling_**
The current behaviour of linetype 65 (as well as others), [contained in Lines.DDF](data/base/doom/lines.ddf) ([specs at the EDGEWiki](http://3dfxdev.net/edgewiki/index.php?title=LINES)), is

[2019-12-19 18:01] simc2 commented on #75
Here are the differences between the same type of line actions in base\doom\lines.ddf:

Linetype 65 has: FLOOR.DEST_OFFSET=8;
But the other same action types 55, 56, 94 have: FLOOR.DEST_OFFSET=-8;

Linetype 20 has: FLOOR.TEXTURE="-";
And types 22, 68, 95 have FLOOR.TEXTURE="+";

Linetype 198 has: EXIT=NORMAL;
But other secret exits 51 and 124 have: EXIT=SECRET;

Here are those line action items in

[2020-01-01 03:30] #75 closed

[2020-01-21 04:37] #76 closed

[2020-01-21 04:39] Corbachu commented on #76
Issue was resolved by Andrew Apted. Tested against v1.35 and v2.1.0(pre).

[2020-02-18 20:23] Corbachu opened #77 "Feature/Renderer: fix up glBindAttribLocation"
From r_bumpmap:
glBindAttribLocation(h_prog,3,"tangent");

Nvidia cards cannot handle passing the tangent value (possibly due to SDL2 OpenGL context handling); since it cannot make it available, rendering for everything in a level but the skybox is pure black.

[2020-02-21 20:55] Corbachu commented on #77
Can’t test without first properly casting values in the buffer code - but the initial tangent numeral has been changed to not hit an index taken by Nvidia’s GL backend.

[2020-03-21 22:48] Corbachu commented on #77
My fixes that I pushed get the game running on nvidia but the check is still showing the attribute as unavailable on nVidia, but not sure what that is impacting at the moment as I haven’t had a lot of time to test lately.

[2020-03-30 15:45] doclulle opened #78 "Renderer - only HUD and Sky is rendered"
HI,
I compiled Edge yesterday  a few times. No mater what I change: the .exe only renders sky(box) and HUD, Menu etc. Everything else is black.

LOG:

Log file created at 05:05 PM on 30/Mar/2020]
[Debug file created at 05:05 PM on 30/Mar/2020]

EDGE (x64) 2.1.0pre-87-gf20e200d0 compiled on Mar 30 2020 at 17:03:35
EDGE homepage is at http://EDGE.sourceforge.net/
EDGE Wiki is at http://3dfxdev.net/e

[2020-03-30 15:53] usernameak commented on #78
duplicate of #77. try building it from feature/renderer-upgrade branch

[2020-03-31 01:32] doclulle commented on #78
Thanks, that fixed it!
 ויְהִי אוֹר

[2020-03-31 01:44] usernameak commented on #78
so if it works, i should add check for -1 and fix some things up to make it work completely properly

[2020-03-31 22:35] doclulle commented on #78
Works fine. Even some new effects like smoke Ive never seen before.

[2020-03-31 23:44] usernameak commented on #78
except broken loading screen

[2020-04-01 00:04] #78 closed

[2020-04-01 00:04] #77 closed

[2021-02-26 00:33] Zezimaa opened #79 "Unable to get past 3rd step from the CMake/Visual Studio Building Instructions page."
This is my first time trying to compile anything from source code, and i am trying to follow [the build instructions page](https://github.com/3dfxdev/EDGE/blob/master/build_guide/CMAKE_VSBuild.md) and clicking generate causes an error message to appear:
[code]
I'm quite new to GitHub so I apologise if I'm doing anything wrong, just wanted a bit of help ^^

[2021-02-26 00:40] Corbachu commented on #79
Hey! No worries! Glad to see some interest here :) also I apologize those instructions need massive updating... so, assuming we are running Windows and at least MSVC 2015:
Do you by chance run CMake against the project to generate the MSVC solution?
For this I like to use the CMake-GUI and vcpkg, which allows me to point SDL2 to the dynamic lib, and the rest to static libs via the vcpkg installed

[2021-02-26 00:41] Corbachu commented on #79
Feel free to post whatever you have and I’ll help, eventually we will get this compiled! And then I can take some time to update the instructions 😂😂😊

[2021-02-26 01:01] Zezimaa commented on #79
I'm afraid I don't know what I'm doing 😅 I just open CMake-gui and set the source location, and click generate as the guide says

[2021-02-26 02:21] Zezimaa commented on #79
I've been trying to figure out what to do for the past hour, it's hard because I know essentially nothing about coding, I just wanna use this source port 😅 What would be the easiest way to go about all of this? Also, I apologise if I don't understand something, I'm quite new to this sort of stuff 😓

[2021-03-01 15:14] Corbachu commented on #79
You don’t want to use any of the development or compiled builds so far?

What errors are you getting now? Screenshot of your config would help too

[2021-03-10 02:38] Zezimaa commented on #79
Oh- I didn't realise that there were pre-compiled builds '^^ I'll use those, I'm sorry for wasting your time

[2021-05-09 16:42] jserv opened #81 "Duplicated SSE2NEON headers"
There are two identical files in git repository:
* `src/system/vita/SSE2NEON.h`
* `src/system/raspberry_pi/SSE2NEON.h`

They are indeed duplicated. [DLTcollab/sse2neon](https://github.com/DLTcollab/sse2neon) contains the latest SSE2NEON development with better compatibility and performance tweaks.

[2021-05-23 05:17] Corbachu commented on #79
Eventually we will get to a place where it’ll be a snap to compile EDGE for any platform; for now I will close the issue.

[2021-05-23 05:17] #79 closed

[2021-08-26 23:27] Some1NamedNate opened #86 "FEATURE: MP3 Support"
Software patents for the MP3 format expired in 2017. After finding out that older versions of EDGE had MP3 support, I thought I'd raise the alarm by saying, "MP3 is free now!"

Bringing back MP3 support would be great, which would mean that I can play MP3 music from `SIGIL_SHREDS.wad`, a paid enhancement to The Ultimate Doom MegaWAD "Sigil."

[2021-09-03 21:26] atsb opened #87 "Mac M1 Support for Cmake"
Generating a Unix Makefile for an M1 Mac incorrectly adds `-mtune=cortex` to some build arguments for coal.

M1 Macs do not support and do not require regular ARM mtune arguments (Apple Clang on M1 does not support them either).  These need to be removed when generating on an M1.

[2021-09-10 07:03] Corbachu commented on #87
Is there an example to compare against? I do not own a Macintosh of that type, unfortunately (only Intel based), and that probably will not change for quite some time.

If you are aware of the fix, please make a PR that targets CMake with the appropriate guards for that platform, otherwise I will be unable to incorporate or validate those arguments.

[2021-09-10 11:54] atsb commented on #87
I will attempt a few fixes on my side and do a PR or a diff after some testing.  Thanks!

[2021-09-11 10:03] atsb commented on #87
So I did it (sort of).

I forked and pushed the few changes I did here:
https://github.com/atsb/EDGE/commit/a2e5f7b1ef050a573e0e0764cbafb6da42c910a3

I did have to add this: src/md5_conv/sse2neon.h -> it seems M1 Macs do not have this file at all (I compiled the header from its github repo).

I also have a binary here (with stack traces and link.txt):
https://github.com/atsb/EDGE/releases/tag/Gibb

[2021-09-15 01:12] Corbachu commented on #87
It looks like it crashes around where it does the config parse.

On your system, do you see "edge.ini" created anywhere? I only ask because that's where it appears to have segfaulted on your M1. If we have a config created then it might be further down in startup.

If a config file is not created in whatever directory EDGE writes it to, then it might be a bug with the way the file system is set up

[2021-09-15 08:28] atsb commented on #87
So what happens is the EDGE2 directory is created in Library, Application Support.  However, the EDGE.ini is not created.  So I took the default EDGE.ini from Windows and put it in the same location.

Error is now:
`WARNING: error parsing config file Library/Application Support/EDGE2/EDGE.ini: Bare key /language	"ENGLISH" cannot contain whitespace at line 1`

[2021-09-16 23:36] Corbachu commented on #87
This is sounding like a path issue. EDGE is probably not finding its own directory to read off the files/folders it needs; in the same directory you put EDGE.ini into, also put the "base" folder into it.
"LANGUAGE" is referring to DDFLANG, or "language.ldf", which is normally found in .\EDGEDIR\base\doom\.

[2021-09-17 17:40] Corbachu commented on #87
Looking into **src\dstrings.h**, I see some defines at the bottom. I'm not sure if recent versions of Macintosh have changed the subdir expectation or not.

It might be a combined issue between post-building on OSX (making sure files are copied via CMake/Clang to the right location), and EDGE itself setting this **EDGEHOMESUBDIR** directive properly:

[code]

[2021-09-17 19:36] atsb commented on #87
I think you may be right.  Safest thing to do would be that I would modify them to simply look into the same directory as the binary.  Then go from there.

[2021-09-19 00:52] Corbachu commented on #87
@atsb Let me know how I can help! Looking forward to supporting the M1 in EDGE 😊

[2021-11-14 00:07] Corbachu commented on #86
https://github.com/3dfxdev/EDGE/commit/d43980166490ed2e810d12cfd98863f3c41bf588

This was added as of the above commit. I have the SIGIL registered with the MP3 pack, when I first worked SIGIL support.

I'll wind this into playlists.DDF and test tonight. Provided all goes well, we will have a nice development release with other nifty features from @dashodanger and @Lobo, as well as other issues I'

[2021-11-14 01:19] Corbachu commented on #86
Works with SIGIL_SHREDS - when added alongside SIGIL (and DOOM.wad if you are combining with DOOM2), for now the entries in PLAYLISTS must be changed to MP3 manually. I'm currently adding a scanner to quickly check for the other formats if they exist FIRST, regardless of what the LUMP type is defined in DDF. Releasing new build here shortly.

[2021-11-14 01:36] Corbachu commented on #86
I have forgotten but it already works as such without needing to edit the playlist DDF for the SIGIL entries.
I don't quite remember though if EDGE already had this behaviour or if this is a physFS enhancement.
Seems to be working alright, just doing more testing before closing the issue (loop music, test volume sliders, etc).

[2021-11-14 23:26] Corbachu commented on #86
@dashodanger I've verified it works 100% in all cases, without the user needing to modify the playlist entries. Closing the PR!

@Some1NamedNate Try it out with the latest 64-bit [devbuild ](https://devbuilds.drdteam.org/3dge/EDGE-x64-MSVC-2.1.0pre-214-gf16fbc560.7z), uploaded today (11/14/21) or at least later than r214.

[2021-11-14 23:26] #86 closed

[2021-11-15 20:00] atsb commented on #87
So I've been working on this silently, I've been debugging it probably way to much, but it always fails at:

**m_toml.h**
[code]

It actually also fails on my Intel Mac too.  The INI file generated is (pasted only part of it):
[code]
The only whitespace being the tabulature lines between the config and the value.

It may or may not be relevant, but I was also helping on the 'https://github.com/das

[2021-11-16 18:54] Corbachu commented on #87
I'll fire up my intel Macbook Pro here shortly. Please post the compiler error also if you can as well (assuming you are using XCode).

I've since fixed a few things with this via https://github.com/3dfxdev/EDGE/commit/695e8e72cb3f5178b2f234b116086eb5bacae42d, so please pull and recompile to see if we are still running into the problem. I can't verify if it fixes Mac yet.

[2021-11-20 06:23] atsb commented on #87
I tried it from that commit and from the latest master.  Seems the CMake file is now broken on a Mac (and finds SDL1 instead of SDL2).

[code]

[2021-11-20 06:30] Corbachu commented on #87
Wait - that’s not EDGE. I think you are building EDGE-Classic.. They didn’t fork from the official EDGE repo so their structure and build system is completely different. For instance, we don’t use GLEW anymore and our repo structure isn’t like how Classic structures it but instead largely how it’s been supported historically.

 Please make sure you are pulling from the EDGE repo and try again 🤭😅😎

[2021-11-21 06:53] atsb commented on #87
Oh dear, I didn't even realise.  Serves me right for naming the two folders almost identically!

[2021-11-21 07:24] atsb commented on #87
So I made this little change to stop the cortex arm setting.  It is just a quick hack for M1 and probably using an else if after 'arm' is the better choice.

[code]

[2021-12-07 23:24] orderorder opened #93 "No textures found on darkwar.wad"
[debug.txt](https://github.com/3dfxdev/EDGE/files/7672166/debug.txt)

When i execute ./EDGE ./darkwar.wad in linux show this error:

     No textures found !  Make sure the chosen IWAD is valid.

I have these files and folders on the directory:

     base
     soundfont
     darkwar.rtc
     darkwar.rtl
     darkwar.wad
     demo1_3.dmo
     demo2_3.dmo
     demo3_3.dmo
     demo4_3.dmo
     edge.

[2021-12-10 15:54] Exarkuniv opened #94 "build on Pi4"
im trying to build on my Pi4 and i very lost on how to get that done.
Im running Retropie so i dont have a desktop. i have to do everthing through the command line.

i have some very basic understanding of cmake. but i cant figure out the correct options to get it to go

sorry im if i sound like a idiot im trying to learn the best i can with this stuff so i can stop asking silly question like this

[2021-12-10 19:00] dashodanger commented on #94
Assuming you have the right libraries needed to build the program, the following commands should get you there. You'll want to run them from the EDGE folder (assuming you didn't change the name when you cloned it):

1. git submodule init
2. git submodule update
3. cmake -B build
4. cmake --build build -j6 (I use -j6 on my Pi 4 and it performs well)

If it works, the EDGE executable should be in th

[2021-12-10 19:53] Exarkuniv commented on #94
@dashodanger
thanks for that, by following what you posted i was able to start building it. i did end up getting a error a little ways into it
[code]

cant tell if im missing a libraries or what from that error

[2021-12-11 20:31] Corbachu commented on #93
Ah yes, that is a problem for right now due to the somewhat hard-coded nature of the TEXTURE/PNAMES entries for DOOM.

What I’ve been attempting for DARKWAR is texture encapsulation that would pre-process the namespaces beforehand into a unique EPK that would get generated and thusly “side-loaded”, provided the user has the registered IWAD, much the same way I’m planning for RTL maps -> BSP.

Stay

[2021-12-11 20:38] Corbachu commented on #94
Hmm, it seems to be some cyclic dependency with GL headers somewhere. One of the things we really need to do is clean up the header include pathing for CMake…

@dashodanger do you encounter the conflicting ARB pointer when building for Pi4?

From the looks of this log, it is running into an issue with that pointer from two different GL headers. I’m not sure if GLEXT.h is also required for PI4, or

[2021-12-11 21:54] orderorder commented on #93
thank you for your response. Im playing Rise of the Triad through this source code  "https://github.com/Corbachu/rottexpr" but i have no sound. I understand that in EDGE I could play ROTT with sound through the soundfonts.

[2021-12-12 01:54] dashodanger commented on #94
I have built both Classic and 2.x on my Pi 4, and haven't had this compilation error. I went ahead and built it again just to be sure. I don't know much about RetroPie, but if it is based off of Debian/Rasperry Pi OS, it could be a 32-bit operating system despite being on an ARM64 platform. I don't know if this would affect anything.

[2021-12-13 14:11] Exarkuniv commented on #94
yes they are running buster 32bit on Retropie
if there is anything you can think of you want me to find or try. im always willing to do so

[2021-12-13 14:45] dashodanger commented on #94
I'm flashing a spare SD with Retropie to see if I can poke at it.

[2021-12-13 15:34] dashodanger commented on #94
So, I made it further into compilation, but there's a roadblock with sse2neon which I'm not sure can be resolved. So far:
-I had to comment out lines 31-34 of src/system/i_defs_gl.h, as I believe those lines are causing the GL conflicts
-I had to add an #ifdef __arm__ after line 71 of src/version.h to add a 32-bit arm entry for EDGEPLATFORM/EDGEPRINTBIT/E_TITLE

Now, sse2neon.h fails saying that i

[2021-12-13 16:22] Exarkuniv commented on #94
Ahh ok. so more or less its the issue with the OS being 32bit at this moment.
I know they are working on having a build on a 64bit but there is no ETA for it.

least we have a better understanding on whats the reason.
thanks for looking into this

[2021-12-13 22:33] dashodanger commented on #94
It's only a guess...there could be a compiler directive or something I'm not aware of that exposes the NEON instructions properly.

[2022-04-26 23:57] Corbachu commented on #74
I decided to combine both efforts - initial startup values will be in the INI, but the EGM will tie the rest of this together.

[2022-04-26 23:58] Corbachu commented on #64
Being addressed; closing out due to age.

[2022-04-26 23:58] #64 closed

[2022-04-27 00:03] Corbachu opened #95 "New Renderer Fixup"
**Describe the bug**
GL3+ Path still has dynamic lighting issues in the new renderer.

**To Reproduce**
Turn on GL3 Mode either from options or the CVAR

**Expected behavior**
Lighting seems backwards (rendering distance reversed?)

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other context about the problem here.

[2022-04-27 01:23] Corbachu commented on #93
@orderorder Ill eventually get back to the EDGEROTT port when I clean up EDGE for a new release. Right now the parent port is too messy to continue allowing ROTT or Wolf3D, as its causes numerous compatibility issues which I never had time to address before.